<html xmlns="http://www.w3.org/1999/xhtml" style="font-size: 52.7778px">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1"
    />
    <meta name="screen-orientation" content="landscape" />
    <meta
      name="facebook-domain-verification"
      content="ftw6go15dw63fwl25vkstbz5xahb3q"
    />
    <title>
      Dragonheir: Silent Gods | Authentic Dungeon Adventurous RPG Strategy Game
    </title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <!--[if IE]>
      <script type="text/javascript">
        var console = { log: function () {} };
      </script>
    <![endif]-->
    <style>
      * {
        padding: 0;
        margin: 0;
      }

      img {
        border: 0;
      }

      html,
      body {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    </style>
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/css/app.b89e1dba.css"
      rel="preload"
      as="style"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/css/chunk_split.bytedesign.98cbaa11.css"
      rel="preload"
      as="style"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/css/chunk_split.vant.c5f75ff3.css"
      rel="preload"
      as="style"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-app.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk-vendors.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.axios.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.bytedesign.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.core-js.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.mobile-detect.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.vant.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.vue-i18n.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.vue-router.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.vue.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.vuex.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-runtime.0e40387c18e06e3fd989.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/css/chunk_split.bytedesign.98cbaa11.css"
      rel="stylesheet"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/css/chunk_split.vant.c5f75ff3.css"
      rel="stylesheet"
    />
    <link
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/css/app.b89e1dba.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/css/LP004.b3c6b3f5.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.taboola.com/scripts/eid.es5.js"
      charset="UTF-8"
      async="async"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.taboola.com/scripts/cds-pips.js"
      charset="UTF-8"
      async="async"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://bat.bing.com/bat.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://cdn.taboola.com/libtrc/unip/1625073/tfa.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-EZR1TSJDL9&amp;l=dataLayer&amp;cx=c"
    ></script>
    <script
      charset="utf-8"
      src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-LP004.0e40387c18e06e3fd989.js"
    ></script>
    <script
      src="https://bat.bing.com/p/action/343097705.js"
      type="text/javascript"
      async=""
      data-ueto="ueto_5ee88cf211"
    ></script>
  </head>
  <body>
    <div id="myContainer">
      <div class="pc-content" style="overflow: hidden">
        <div id="page1" class="pc-main">
          <video
            id="home-vedio"
            src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/media/home4.a8007799.mp4"
            muted="muted"
            autoplay="autoplay"
            loop="loop"
            type="video/mp4"
            poster="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/img/home4.46631195.jpeg"
            class="sec1-vi"
          ></video
          ><img
            id="logoImage"
            src="../../../assets/images/obLanding/en_pic/logo.webp"
            class="logo-image"
          /><img
            src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/img/bottom-black.54fd79ba.png"
            class="bottom-black"
          /><img
            id="midLogoImage"
            src="../../../assets/images/obLanding/en_pic/copy_Middle.webp"
            class="mid-logo en"
          />
          <div
            class="download-game"
            style="
              background-image: url('../../../assets/images/obLanding/en_pic/btn_freedown.webp');
              background-size: cover;
            "
          ></div>
          <div class="bottom" style="display: block">
            <div class="privacy">
              <a
                href="https://dragonheir.nvsgames.com/privacyPolicy"
                target="_blank"
                >Privacy Policy </a
              ><span>|</span
              ><a
                href="https://dragonheir.nvsgames.com/termsService"
                target="_blank"
                >Terms of Use</a
              ><span>|</span><a>Support</a>
            </div>
            <div class="contact">
              Contact us: dragonheir-support@nvsgames.com
            </div>
            <div class="contact">
              <span class="tips"
                >DUNGEONS &amp; DRAGONS © 2023 Wizards of the Coast LLC. All
                Rights Reserved.</span
              >
            </div>
          </div>
          <div id="followArea" class="follow1">
            <div class="follow1-wrap">
              <img
                src="../../../assets/images/obLanding/en_pic/follow_us.webp"
                class="text en"
              />
              <div class="facebook"></div>
              <div class="discord"></div>
              <div class="youtube"></div>
            </div>
          </div>
          <img
            src="../../../assets/images/obLanding/en_pic/Socialc_Tip.webp"
            class="followModal"
            style="display: none"
          /><!---->
        </div>
        <!---->
        <div
          id="secondPage"
          class="second-page"
          style="visibility: hidden; height: 0px"
        >
          <div style="height: 953px">
            <div class="follow2">
              <div class="follow2-wrap">
                <img
                  src="../../../assets/images/obLanding/en_pic/follow_us.webp"
                  class="text en"
                />
                <div class="facebook"></div>
                <div class="discord"></div>
                <div class="youtube"></div>
              </div>
            </div>
            <div class="top">
              <img
                src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/img/icon_512.2ee5e253.webp"
              />
            </div>
            <img
              src="../../../assets/images/obLanding/en_pic/Socialc_Tip.webp"
              class="followModal2"
              style="display: none"
            />
            <div class="up-tips en" style="display: none">
              <div class="tips-hint en">
                <div>1.Click File</div>
                <div>2.Quick Install</div>
              </div>
              <div class="arrow-container">
                <img
                  src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/img/icon_arrow.052858ad.webp"
                  class="up-arrow"
                />
              </div>
            </div>
            <div class="desc">
              <img
                src="../../../assets/images/obLanding/en_pic/download_started.webp"
                class="description en"
              />
            </div>
            <div class="click-desc" style="white-space: pre-wrap">
              If it didn't start, click <a>here</a>. Find the file by pressing
              CTRL+J.
            </div>
            <div id="popWindow" class="pop-container" style="display: none">
              <img
                src="../../../assets/images/obLanding/en_pic/pop_up.webp"
                class="popUp"
              />
            </div>
            <div class="step">
              <img
                src="../../../assets/images/obLanding/en_pic/scr2_tipspaper1.webp"
                class="step1"
              /><img
                src="../../../assets/images/obLanding/en_pic/scr2_tipspaper2.webp"
                class="step2"
              />
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
    <script
      type="text/javascript"
      async=""
      id="tmr-code"
      src="https://top-fwz1.mail.ru/js/code.js"
    ></script>
    <script
      async=""
      src="https://www.googletagmanager.com/gtm.js?id=GTM-KCB4LG6"
    ></script>
    <script src="https://www.redditstatic.com/ads/pixel.js" async=""></script>
    <script
      src="https://connect.facebook.net/signals/config/367666072177249?v=2.9.138&amp;r=stable&amp;domain=dragonheir-us.sgrastudio.com"
      async=""
    ></script>
    <script
      async=""
      src="https://connect.facebook.net/en_US/fbevents.js"
    ></script>
    <script>
      function generate_uuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
          s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";
        var uuid = s.join("");
        return uuid;
      }
      if (!localStorage.getItem("browser_id")) {
        const browser_id = generate_uuid();
        localStorage.setItem("browser_id", browser_id);
      }
    </script>
    <script defer="">
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "367666072177249", {
        external_id: localStorage.getItem("browser_id"),
      });
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=367666072177249&ev=PageView&noscript=1"
    /></noscript>
    <script async="" crossorigin="anonymous">
      (function (win, export_obj) {
        win["LogAnalyticsObject"] = export_obj;
        if (!win[export_obj]) {
          function _collect() {
            _collect.q.push(arguments);
          }
          _collect.q = _collect.q || [];
          win[export_obj] = _collect;
        }
        win[export_obj].l = +new Date();
      })(window, "collectEvent");
    </script>
    <script
      async=""
      crossorigin="anonymous"
      src="https://sf16-scmcdn-va.ibytedtos.com/obj/static-us/log-sdk/collect/5.0/collect.js"
    ></script>
    <script
      defer=""
      src="https://www.googletagmanager.com/gtag/js?id=G-F8K5XW3RMG"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-F8K5XW3RMG");
    </script>
    <script defer="">
      !(function (w, d) {
        if (!w.rdt) {
          var p = (w.rdt = function () {
            p.sendEvent
              ? p.sendEvent.apply(p, arguments)
              : p.callQueue.push(arguments);
          });
          p.callQueue = [];
          var t = d.createElement("script");
          (t.src = "https://www.redditstatic.com/ads/pixel.js"), (t.async = !0);
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(t, s);
        }
      })(window, document);
      rdt("init", "t2_s2isebi4", {
        optOut: false,
        useDecimalCurrencyValues: true,
        externalId: localStorage.getItem("browser_id"),
      });
      rdt("track", "PageVisit");
    </script>
    <script src="https://js.adsrvr.org/up_loader.1.1.0.js"></script>
    <script>
      ttd_dom_ready(function () {
        if (typeof TTDUniversalPixelApi === "function") {
          var universalPixelApi = new TTDUniversalPixelApi();
          universalPixelApi.init(
            "nzdlnv9",
            ["c1qfsm7"],
            "https://insight.adsrvr.org/track/up"
          );
        }
      });
    </script>
    <script async="">
      defineBaseFontSize();
      window.onresize = function () {
        defineBaseFontSize();
      };

      function defineBaseFontSize() {
        const device =
          /phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone/i.test(
            navigator.userAgent
          ) ||
          (navigator.platform === "MacIntel" && navigator.maxTouchPoints > 1);

        var deviceWidth =
          document.documentElement.clientWidth || window.innerWidth;
        let fontsize;
        if (device) {
          fontsize = 100 * (deviceWidth / 800) + "px";
        } else {
          if (deviceWidth <= 1000) {
            fontsize = "50.5px";
          } else if (deviceWidth > 1000 && deviceWidth <= 2560) {
            fontsize = 100 * (deviceWidth / 1980) + "px";
          } else {
            fontsize = "130px";
          }
        }
        document.getElementsByTagName("html")[0].style.fontSize = fontsize;
      }
    </script>
    <script defer="">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KCB4LG6");
    </script>
    <script defer="">
      var _tmr = window._tmr || (window._tmr = []);
      _tmr.push({
        id: "3387389",
        type: "pageView",
        start: new Date().getTime(),
      });
      (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script");
        ts.type = "text/javascript";
        ts.async = true;
        ts.id = id;
        ts.src = "https://top-fwz1.mail.ru/js/code.js";
        var f = function () {
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(ts, s);
        };
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else {
          f();
        }
      })(document, window, "tmr-code");
    </script>
    <script>
      window.appier_q = window.appier_q || [];
      window.appier_q.push(
        {
          t: "register",
          content: { id: "a4ab", site: "dragonheir.sgrastudio.com" },
        },
        {
          t: "pv_track",
          action_id: "PageView_9110",
          track_id: "30050b668737aae",
          isCountReload: true,
          counter: 0,
        },
        {
          t: "pv_track",
          action_id: "ViewTwoPages_1cd4",
          track_id: "30050b668737aae",
          isCountReload: false,
          counter: 1,
        }
      );
    </script>
    <script
      src="//jscdn.appier.net/aa.js?id=dragonheir.sgrastudio.com"
      async=""
    ></script>
    <noscript
      ><div>
        <img
          src="https://top-fwz1.mail.ru/counter?id=3387389;js=na"
          style="position: absolute; left: -9999px"
          alt="Top.Mail.Ru"
        /></div></noscript
    ><noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KCB4LG6"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-runtime.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.vue.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.core-js.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.bytedesign.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.vant.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.axios.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.mobile-detect.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.vue-i18n.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.vue-router.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk_split.vuex.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-chunk-vendors.0e40387c18e06e3fd989.js"></script>
    <script src="https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/js/chunk-app.0e40387c18e06e3fd989.js"></script>
    <div
      data-transfer="true"
      class="recommand-set-modal byte-modal v-transfer-dom"
    >
      <div class="byte-modal__mask" style="z-index: 1000; display: none"></div>
      <div class="byte-modal__wrapper" style="z-index: 1000; display: none">
        <div class="byte-modal__content" style="width: 500px">
          <div class="byte-modal__header">
            <span class="byte-modal__title">SYSTEM REQUIREMENTS</span
            ><span aria-label="Close" class="byte-modal__headerbtn"
              ><i class="byte-icon byte-icon--close"
                >https://lf16-c99cdn-alisg.bytedgame.com/obj/sf-game-alisg/gdl_app_499/dragon-landing/dist/static/img/close.fa5057e0.svg</i
              ></span
            >
          </div>
          <div class="byte-modal__body">
            <div>
              <div class="left">
                <div class="keyTitle">MINIMUM:</div>
                <div class="row">
                  <span class="keyTitle">OS: </span
                  ><span>64bits - Windows 8.1</span>
                </div>
                <div class="row">
                  <span class="keyTitle">Processor: </span
                  ><span>Intel Core i3</span>
                </div>
                <div class="row">
                  <span class="keyTitle">Memory: </span><span>8 GB RAM</span>
                </div>
                <div class="row">
                  <span class="keyTitle">Graphics: </span
                  ><span>NV GeForce 8600 GT/ATI Radeon HD2600XT</span>
                </div>
                <div class="row">
                  <span class="keyTitle">DirectX: </span><span>Version 11</span>
                </div>
                <div class="row">
                  <span class="keyTitle">Storage: </span
                  ><span>15 GB available space</span>
                </div>
              </div>
              <div class="right">
                <div class="keyTitle">RECOMMENDED:</div>
                <div class="row">
                  <span class="keyTitle">OS: </span
                  ><span>64bits - Windows 10</span>
                </div>
                <div class="row">
                  <span class="keyTitle">Processor: </span
                  ><span>Intel Core i5-7</span>
                </div>
                <div class="row">
                  <span class="keyTitle">Memory: </span><span>8 GB RAM</span>
                </div>
                <div class="row">
                  <span class="keyTitle">Graphics: </span
                  ><span>GTX 1060/GTX 970</span>
                </div>
                <div class="row">
                  <span class="keyTitle">DirectX: </span><span>Version 11</span>
                </div>
                <div class="row">
                  <span class="keyTitle">Storage: </span
                  ><span>15 GB available space</span>
                </div>
              </div>
            </div>
          </div>
          <!---->
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      async=""
      src="https://top-fwz1.mail.ru/js/dyn-goal-config.js?ids=3387389"
    ></script>
    <div
      id="batBeacon793540973365"
      style="width: 0px; height: 0px; display: none; visibility: hidden"
    >
      <img
        id="batBeacon17596705838"
        width="0"
        height="0"
        alt=""
        src="https://bat.bing.com/action/0?ti=343097705&amp;tm=gtm002&amp;Ver=2&amp;mid=e2f0deff-9e3e-4e91-b760-941316bfbfe4&amp;sid=f4837c90a3c011eea5a0f95d5c5a3ab3&amp;vid=f4838dc0a3c011eeb5c5733a686ad49e&amp;vids=1&amp;msclkid=N&amp;uach=pv%3D10.0.0&amp;pi=918639831&amp;lg=en-US&amp;sw=1920&amp;sh=1080&amp;sc=24&amp;tl=Dragonheir%3A%20Silent%20Gods%20%7C%20Authentic%20Dungeon%20Adventurous%20RPG%20Strategy%20Game&amp;p=https%3A%2F%2Fdragonheir-us.sgrastudio.com%2Flanding_04%3Ffbclid%3DIwAR2pXEB2dnT6LQyMTnWCG3LYgDuTevZlxmEtVEB8eD-Ep2p3ewciPVnNRLk%26shortlink%3Dhxa5djx5%26c%3Ddownloadnow%26pid%3DCommunity%26af_xp%3Dsocial%26source_caller%3Dui&amp;r=https%3A%2F%2Fl.facebook.com%2F&amp;lt=2930&amp;evt=pageLoad&amp;sv=1&amp;rn=470083"
        style="width: 0px; height: 0px; display: none; visibility: hidden"
      />
    </div>
    <iframe
      id="universal_pixel_c1qfsm7"
      height="0"
      width="0"
      style="display: none"
      src="https://insight.adsrvr.org/track/up?adv=nzdlnv9&amp;ref=https%3A%2F%2Fdragonheir-us.sgrastudio.com%2Flanding_04%3Ffbclid%3DIwAR2pXEB2dnT6LQyMTnWCG3LYgDuTevZlxmEtVEB8eD-Ep2p3ewciPVnNRLk%26shortlink%3Dhxa5djx5%26c%3Ddownloadnow%26pid%3DCommunity%26af_xp%3Dsocial%26source_caller%3Dui&amp;upid=c1qfsm7&amp;upv=1.1.0"
      title="TTD Universal Pixel"
    ></iframe>
  </body>
</html>
